* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Lexend Deca";
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #c19ee0;
    margin: 0;
    padding: 0;
}

.container {
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #dab6fc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h3 {
    color: #333;
    text-align: center;
}

p {
    text-align: center;
    font-size: 1.2em;
    color: black;
    margin-bottom: 20px;
}

.main-header {
    margin: 20px auto;
    width: 90%;
    padding: 20px;
    font-weight: bolder;
    background-color: #6247aa;
    color: whitesmoke;
    font-size: 3rem;
    font-family: "Lexend Deca";
    border-radius: 10px;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 1.2rem;
}

input[type="text"], input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #bbadff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-color: #6247aa;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
    font-size: 0.8em;
}

.jumbotron {
    width: 70vw;
    height: 58vh;
    margin: 0 auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 20px;
    display:flex;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 10px;
}

.jumbotext {
    width: 50%;
}

.jumbotext p {
    text-align: justify;
    padding-right: 20px;
    color: black;

}

.jumboimage {
    width: 50%;
}

.jumboimage img {
    width: 500px;
    height: 400px;
}